.btn {
  width: 70px;
  height: 30px;
  background-color: brown;
  color: white;
  text-align: center;
  border-radius: 5px;
  transform: scale(0.5);
  cursor: pointer;
}

.toast {
  width: 70px;
  height: 30px;
  background-color: brown;
  color: rgb(0, 5, 96);
  text-align: center;
  border-radius: 5px;
  transform: scale(0.5);
  cursor: pointer;
}
.card {
  width: 100px;
  height: 30px;
  background-color: brown;
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 5px;
  transform: scale(0.5);
  cursor: pointer;
}
